<html>
    <head>
        <link rel = "stylesheet" href="static/basic.css" type="text/css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <h3>Lab4</h3>
            Эта страница предназначена для визуализации фукнций: \(z(x) = arctgx+b.\) и 
            \( y(x) = $$\sum_{n=1}^{\infty} { (-1)^n * x^(2n + 1) \over (2n +1)}$$.\)

        <form method=post action="">
            <table>
            <tr>
                <td>
                    <table>
                        {% for field in form %}
                            <tr>
                            <td class = "name">{{ field.name }}</td><td>{{ field(size=12) }}</td>
                            <td>{{ field.label }}</td>
                            {% if field.errors %}
                                <td><ul class=errors>
                                    {% for error in field.errors %}
                                        <li><font color="red">{{ error }}</font></li>
                                {% endfor %} </ul></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <p>
                        {% if result != None %}
                            <img src="{{ result }}" width="500">
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><input type=submit value=Compute></form></p>
                </td>
            </tr>
            </table>
        </form>
    </body>
</html>

        
       

